<section id="order-success">
    <div class="row orange black-text m-0 p-0">
        <div class="col-12 pt-5">
            <div class="d-flex justify-content-center py-5 px-2" style="min-height: 100vh; height: auto;">
            <div class="text-center align-self-center">
                <h1><strong>Žao nam je</strong>,</h1>
                <h1>ali iz nekog razloga tvoja narudžba nije uspješno završena...</h1>
                <h2>Naši programeri će provjeriti gdje je bio problem i popraviti ga što je prije moguće!</h2>
                <h2>Molimo te da pokušaš još jednom izvršiti svoju narudžbu.</h2>
                <h2>Ukoliko se ovaj problem nastavi pojavljivati, molimo te da se javiš našoj podršci da oni ručno naprave tvoju narudžbu.</h2>
            </div>
            </div>
        </div>
    </div>
</section>